@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
		-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		box-sizing: border-box;
		outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

body {
	background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 100px;
}

img {
	background: #045FB4;
	color: background: #045FB4;
	margin-top: 50px;
}
form[role=login] {
	color: #FFFFFF;
	background: white;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-style: solid;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] button {
		border-style: solid;
		font-size: 18px;
		margin: 16px 0;
		margin-left: 30px;
	}
	
	form[role=login] input{
		border-style: solid;
		font-size: 18px;
		margin: 16px 0;
		margin-left: 20px;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}
 a {
	margin-right: 5px;
	font-style: italic;
 }
