
img.reduce{
	display: block;
	margin-top: 0px;
    margin-left: 80px;
    margin-right: auto;
    width: 15%;
}

img.normal {
	display: block;
	margin-top: 40px;
    margin-left: 80px;
    margin-right: auto;
    width: 45%;
}
h1 {
	font-size: 5px;
	
}

label, input {
	margin-left: 5px;
}

button {
	text-decoration-color: red;
}
